/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.checkbox {
  height: 7rem;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;;
}

.circle.piado {
  width: 48px;
  height: 48px;
}

.logo {
  object-fit: scale-down;
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

.brand-logo {
  align-content: center;
  vertical-align: middle;
}

.brand-logo:hover {
  opacity: 70%;
  filter: blur(2px);
}